section {
	padding: 1rem 0rem;
}

.model {
	width: calc(100vw - 5rem);
	border: 1px solid black;
	border-radius: 5px;
	padding: 1rem;
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 32px;
	border: 1px solid #ccc;
	margin: 8px 0;
	display: flex;
	width: 50%;
}